.find_worth_container{
    margin: 7rem;
    display: flex;
}

.find_worth_form{
   flex:1;
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: rgba(133, 131, 233, 0.884);
   width : 40%;
}

.find_worth_img{
    flex:1;
} 

.find_worth_img >img{
    width: 650px;
    height: 500px;
}

.find_worth_form > h3{
    color: white;
    margin: 1rem;
}


.ip{
    background-color: white;
    color: white;
    text-align: center;
    margin: 1rem;
}

.calc{
    background-color: var(--green);
}

.worth{
    margin-top: 2rem;
    color: black;
    font-weight: 700;
    font-size: 20px;
}

