.carousel-container{
    margin-top :4rem;
    width : 100vw;
    height: 100vh;
    overflow : hidden;
    position: relative;
}

.image-container{
    width : 1000%;
    height: 100%;
    display: flex;
    flex-direction: row;
    transition: margin-left 1s ease-in;
}

.image-container > .image{
    width : 10%;
    height: 100%;
}


.image-container > .image > img{
    width : 100%;
    height : 100%;
    object-fit: cover;
}



.explore{
    padding : 0.2rem;
    position : absolute;
    top:70%;
    right : 10%;
    height : 2.5rem;
    width: 10rem;
    cursor : pointer;
    border : none;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    border-radius: 0.25rem;
    font-size : 1rem;
    background-color: rgba(255,255,255,1);
    font-weight: 600;
}

.explore:hover{
    border : 1px solid black;
    border-radius:0;
    background-color: rgb(231, 224, 224);
}